ul, li {
    list-style: none;
}

a:link
{
text-decoration:none;
color: black;

}

.text-red {
    color: red;
}

.title-one {
    font-size: 2em;
}

.button {
    cursor: pointer;
    border-radius: 5px;
    padding: 0.5em;
}

.button-read {
    border-style: ridge;
    color:#3399ff; 
    background-color: brown; 
}

#container {
    background-color: blue;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.p-com {
    text-align: start;
    padding: 1em;
}

/* UNIQUEMENT HEADER */

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid;
}

#header-home-logo {
    margin-left: 3em;
    display: flex;
}

#header-profil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 3em;
}

#user-name {
    display: flex;

}

#user-name-text {
    display: flex;
    align-items: center;
    margin-left: 1em;
    flex-direction: column;
    align-self: center;
}


/* UNIQUEMENT INDEX*/

#index-main {
    display: flex;
    justify-content: space-between;
    border-style: ridge;
    margin: 5em;
    padding-top: 3em;
    padding-bottom: 3em;
}


.forms {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-weight: bold;
}

.form-button-send {
    background-color: grey;
    font-weight: bold;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    margin-top: 1em;
    padding: 0.3em 0.5em;
    box-shadow: 0 2px black;
    outline: none;
}

.form-button-send:active {
    box-shadow: 0 0px black;
    transform: translateY(2px) ;
} 


.form-login {
    margin-top: 4em;
}

#home-presentation-text {
    font-size: 1.17em;
}


#home-list-actors{
    display: flex;
    flex-direction: column;
    border: solid;
}

.home-actor {
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: solid;
    margin: 1em;
}

.home-actor-logo-plus-text {
    display: flex;

}

.home-actor-logo {
    margin: 1em;
}

.home-actor-text {
    margin-bottom: 1em;
}

.home-actor-button {
    overflow: auto;
    display:block;
    text-align: center;
    background-color: #EFEFEF;
    border-color: #767676;
    border-style: solid;
    border-radius: 5px;
    display: flex;
    align-self: flex-end;
    margin-bottom: 1em;
    margin-right: 2%;
    cursor: pointer;
    border-radius: 5px;
    padding-left: 1px;
    block-size: 35px;
}

/* UNIQUEMENT ACTOR */ 

#actor-bot {
    display: flex;
    flex-direction: column;
    border-style: solid;
}

#actor-bot-info {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
}

#comments-counter {
    display: flex;
    margin-left: 1em;
    margin-top: 1em;
    font-weight: bold;
}

#like-programs {
    display: flex;
    margin-right: 1em;
}

#add-comment-button {
    display: flex;
    height: 80%;
    margin-top: 0.5em;
}

#like-or-dislike {
    display: flex;
    border-style: solid;
    padding: 1em;
    margin-left: 1em;
}

#number-of-likes {
    margin-right: 0.5em;
}


#actor-bot-coms {
    display: flex;
    flex-direction: column;
}

.com {
    display: flex;
    border-style: ridge;
    margin: 1em;

}

/*UNIQUEMENT PROFIL */

#profile-main {
    display: flex;
    justify-content: space-between;
    border-style: ridge;
    margin: 5em;
    padding-top: 3em;
    padding-bottom: 3em;
}

